<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/unicorn-logo.jpg" width="30" height="30" alt="eternal unicorn">
    <span>Unicorn tournament series</span>
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let tournament of tournaments">
        <a class="nav-link" routerLink="">{{tournament.date}}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/units">Unit-Database</a>
      </li>
      <li *ngIf="!currentUser" class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li *ngIf="currentUser" class="nav-item dropdown" [ngClass]="{ 'show': loginOpen }">
        <span class="nav-link dropdown-toggle" (click)="toggleProfile()" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{currentUser.email}}
      </span>
        <div class="dropdown-menu dropdown-menu-right" [ngClass]="{ 'show': loginOpen }"
          aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/home" (click)="toggleProfile()">Home</a>
          <a class="dropdown-item" routerLink="/admin" (click)="toggleProfile()">Admin</a>
          <span class="dropdown-item" (click)="logout(); toggleProfile()">Logout</span>
        </div>
      </li> -->
    </ul>
  </div>
</nav>
<app-rainbow></app-rainbow>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Login/Register</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="username">Username</label>
        <div class="input-group">
          <input id="username" class="form-control" placeholder="Username" name="username">
        </div>
        <label for="password">Password</label>
        <div class="input-group">
          <input id="password" class="form-control" placeholder="Password" name="password" type="password">
        </div>

      </div>
      <div class="form-group text-right">
        <button *ngIf="!newUser; else notNew" (click)="toggleNewUser()" type="button" class="btn btn-success">I'm
          new</button>

        <ng-template #notNew>
          <button (click)="toggleNewUser()" type="button" class="btn btn-secondary">nvm im not new</button>
        </ng-template>
      </div>
      <div *ngIf="newUser" class="form-group">
        <label for="password">Email</label>
        <div class="input-group">
          <input id="email" class="form-control" placeholder="Email" name="email" type="email">
        </div>
        <label for="username">Date of birth</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
            #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
