.img-wrap {
  float: right;
}

.para-wrap {
  box-sizing: border-box;
  float: left;
  max-width: 1000px;
  padding: 0 10px;
}

.para-wrap > p {
  font-size: 20px;
  padding: 28px 0 0;
  text-align: justify;
}

.tournaments-wrap {
  padding-top: 60px;
}
