<div class="footer">
  <div style="height: 4px; background: red;"></div>
  <div class="content">
    <div>Version: {{ versions['version'] }}</div>
    <div>Since: {{ versions['since'] }}</div>
    <div>Branch: {{ versions['branch'] }}</div>
    <div>Revision: {{ versions['revision'] }}</div>
  </div>
</div>
