$footer-bg: #343a40;
$footer-color: rgba(194, 194, 194, .5);

.footer {
  background: $footer-bg;
  bottom: 0;
  color: $footer-color;
  left: 0;
  position: fixed;
  right: 0;

  >.content {
    display: flex;

    >div {
      flex-grow: 1;
      font-size: .8rem;
      padding: 6px 30px;
      text-align: center;
    }
  }
}
