<div class="jumbotron">
  <h2>All users on the system</h2>
  <div class="users">
  <div *ngFor="let user of users" class="card-wrap">
    <div class="card">
    <img src="/assets/comm-nemicus-200x240.png" class="card-img-top" alt="...">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button *ngIf="user.deactivated;  else showDeactivate" class="btn btn-secondary btn-block">Activate</button>
        <ng-template #showDeactivate><button class="btn btn-primary btn-block">Deactivate</button></ng-template>
      </li>
      <li class="list-group-item">
        <div>
          <h5 class="card-title">{{ user.name }}</h5>
          <p style="font-size: .7rem;">{{ user._id }}</p>
          <p style="font-size: .7rem;">{{ user.created }}</p>
          <p style="font-size: .7rem;"><img src="/assets/discord-icon.png" height="24"/> {{ user.discord }}</p>
          <p style="font-size: .7rem;">{{ user.email }}</p>
        </div>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  </div>
</div>
</div>
