<app-navbar [tournaments]="tournaments" (showUnitsDb)="toggleUnitsDb($event)"></app-navbar>

<div class="container-fluid pt-3">
  <router-outlet></router-outlet>
</div>

<div class="container-fluid pt-3">
  <div class="jumbotron">
    <app-splash></app-splash>
  </div>
  <div>
    <app-discord-link></app-discord-link>
  </div>
  <div class="tournaments-wrap">
    <div *ngFor="let tournament of tournaments">
      <app-tournament [tournament]="tournament"></app-tournament>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-modal></app-modal>
