<div class="card" style="width: 18rem;">
  <img src="/assets/comm-nemicus-200x240.png" alt="plat" class="card-img-top">

  <div class="card-body">
    <p class="text-right">
      <button class="btn btn-primary">Set Avatar</button>
    </p>
    <h5 class="card-title">Profile</h5>
    <p class="card-text">Active</p>
    <p class="card-text">【W】[Unicorn] QH</p>
    <p class="card-text">stefan.a.frei@gmail.com</p>
    <p class="card-text">Schlibbuz#8542</p>
    <p class="card-text">Best result: RO-8 19.7.2020</p>
    <p class="text-right">
      <button class="btn btn-primary">Change Password</button>
    </p>

  </div>
</div>
