<div class="card mb-4">
  <h2 class="card-header">
    Sunday {{ tournament.date }} {{ tournament.time }}
  </h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <app-tournament-bracket [tournament]="tournament"></app-tournament-bracket>
    </li>
    <li class="list-group-item">
      <h3>Participants</h3>
      <ul class="pl-3">
        <li *ngFor="let player of tournament.participants">
          <app-player [player]="player"></app-player>
        </li>
        <li *ngIf="!tournament.participants.length">No participants yet</li>
      </ul>
      <br />
      <span *ngIf="tournament.participants.length">(*) provisoric</span>
    </li>
    <li class="list-group-item">
      <h3>Maps played</h3>
      <ul class="pl-3">
        <li *ngFor="let map of tournament.maps">{{map}}</li>
        <li *ngIf="!tournament.maps.length">No maps decided yet</li>
      </ul>
    </li>
    <li class="list-group-item">
      <h3>Mods enabled</h3>
      <ul class="pl-3">
        <li *ngFor="let mod of tournament.mods">{{mod}}</li>
        <li *ngIf="!tournament.mods.length">No mods</li>
      </ul>
    </li>
  </ul>
</div>

