<div>
  <div *ngFor="let team of pairing.teams; index as i" class="blaa">
    <div>
      <app-team [team]="team"></app-team>
    </div>
    <div *ngIf="i<pairing.teams.length-1">vs</div>
  </div>
</div>
