<div class="text-center mb-5 jumbotron p-2">
  <h4>{{ round.name }}</h4>
  <div class="round p-4">
    <div *ngFor="let pairing of round.pairings" class="jumbotron p-3 mb-4">
      <app-tournament-bracket-round-pairing [pairing]="pairing"></app-tournament-bracket-round-pairing>
    </div>
  </div>
</div>
