$round-color: #f7f7f7;

.round {
  background: $round-color;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 0 10px;
  padding: 6px;

  >div {
    flex-basis: 100%;
    font-size: .8rem;
    padding: 6px 30px;
    @media (min-width: 1025px) {
      flex-basis: 20%;
      flex-grow: 0;
    }
  }
}
