<div class="team">
  <div>
    <div *ngFor="let player of team.players">
      <app-player [player]="player"></app-player>
    </div>
  </div>
  <div class="score">
    {{ team.score }}
  </div>
</div>
