<h3>Bracket</h3>
<div>
  <div class="text-center mb-5">
    <div *ngIf="hasWinner()">
      <h4>Winner</h4>
      <app-player [player]="tournament.winner"></app-player>
    </div>
  </div>
  <div *ngFor="let round of tournament.bracket.rounds">
    <app-tournament-bracket-round [round]="round"></app-tournament-bracket-round>
  </div>
</div>
