<div class="clearfix">
  <button class="btn btn-light">
    <a class="disc-link" href="https://discord.gg/7gKarw" target="_blank">
      <img src="/assets/discord-icon.png">
      <h2 class="d-inline">Register for the tournament via Discord.</h2>
    </a>
  </button>
</div>
